<!-- Page Wrapper for Slick JS -->

<div class = "page-wrapper">
	
	<!-- Post Slider -->
	<div class = "post-slider">
		<h1 class="slider-title">Trending Post</h1>
		<fa-icon [icon]='faChevronLeft' id = "prev" (click) = "prevSlick()"></fa-icon>
		<fa-icon [icon]='faChevronRight' id = "next" (click) = "nextSlick()"></fa-icon>

		<!-- Slick Angular Code -->
		<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let postoutline of postoutlinetrends" class="slide">
			  <img src="{{postoutline.imagesrc}}" alt="" width="100%" style="background-size:cover;background-repeat: no-repeat;">
			  <div class="post-info slidingtab" #slidingtab (click) = "toggleRelated(slidingtab)">
				<h4><a [routerLink] = "['/single']" [state]="{ post_id: postoutline.pid }"> {{postoutline.heading}}</a></h4>
				<fa-icon [icon]='faUserCircle' aria-hidden="true"></fa-icon> {{postoutline.author}}
				&nbsp;
				<fa-icon [icon]='faCalender' ></fa-icon> {{processDate(postoutline.created_tm)}}
				<div class="relatedinfo">{{postoutline.relatedtxt}}</div>
			</div>
        </div>
    </ngx-slick-carousel>
    
	</div>
	<!-- //Post Slider -->
	<div class="horzionline"><hr></div>

	<!-- Content -->
	<div class="content clearfix">							<!-- // <div class="content clearfix"></div> // -->
		
		<!-- Main Content -->
		<div class="main-content">
			<h1 class="recent-post-title">Recent Post</h1>

			<div *ngFor = "let post of postoutlinerecents" class="post clearfix"> 
					<img class="post-image" src="{{post.imagesrc}}" alt=""/>
					<div class="post-preview">
						<h3><a [routerLink] = "['/single']" [state]="{ post_id: post.pid }">{{post.heading}}</a></h3>
						<fa-icon [icon]='faUserCircle'  aria-hidden="true"></fa-icon> {{post.author}}
						&nbsp;
						<fa-icon [icon]='faCalender' ></fa-icon> {{processDate(post.created_tm)}}
						<p class="preview-text">{{post.relatedtxt}}
						<a [routerLink] = "['/single']" [state]="{ post_id: post.pid }" class="read-more">read more</a></p>
					</div>
			</div>	


		<div class="pageContainer">
		    <div class="pagination p1">
		      <ul>
		        <li><fa-icon [icon]='faChevronLeft' id = "prev" (click) = "navigateTo($event)"></fa-icon></li>
		        <li *ngFor = 'let nav of postsNavArr;let first= first;' [ngClass] = "{ 'is-active': first }" (click) = "navigateTo($event)">{{nav}}</li>
		        <li><fa-icon [icon]='faChevronRight' id = "next" (click) = "navigateTo($event)"></fa-icon></li>
		      </ul>
		    </div>
		</div>


		</div>

		<!-- //Main Content -->
		<div class="sidebar">

			<div class="section subscribe">
				<h2 class="section-title">Subscribe Our Newsletter</h2>
				<form #subscribeForm = "ngForm" (ngSubmit)="onMailSubmit(subscribeForm)" novalidate >
					<input type="text" name="useremail" id="mail-text" class="text-input" placeholder="Your Email Address ..."  required email ngModel />
					<button type="submit" class="submitbtn" [disabled]="!subscribeForm.valid" ><fa-icon [icon]= 'faChevronRight' id="rightIcon" ></fa-icon></button>
				</form>
			</div>

			<div class="section search">
				<h2 class="section-title">Search Article</h2>
				<form action="index.html" method = "post">
					<input type="text" id="search-text" class="text-input" placeholder="Keyword ...">
				</form>
			</div>

			<div class="section topics">
				<h2 class="section-title">Sorted Categories</h2>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Whatsapp</a></li>
					<li><a href="#">Network Security</a></li>
					<li><a href="#">Mobile App Hacks</a></li>
					<li><a href="#">Miscellaneous</a></li>
				</ul>
			</div>
		</div>

	</div>
	<!--// Content -->
</div>

<!-- // Page Wrapper -->
