<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width , initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Candal|Lora&display=swap" rel="stylesheet"> 

	<script type="text/javascript" src="src/assets/js/scripts.js"></script>

</head>
<body>

<div class="auth-content">
	<form  id="loginForm" #loginForm="ngForm" (ngSubmit)="onLoginUser(loginForm)" >
		<h2 class="form-title">Login</h2>
		<div>
			<label>Username</label>
			<input type="text" name="username" class="text-input" required ngModel>
		</div>
		<div>
			<label>Password</label>
			<input type="Password" name="password" class="text-input" required ngModel>
		</div>
		<div>
			<label>User Role</label>
			<select id="user_options" name="user_type" class="text-input" required ngModel>
				<option value="select" selected="">Select</option>
				<option value="admin">Admin</option>
				<option value="editor">Editor</option>
				<option value="author">Author</option>
			</select> 
		</div>		
		<div>
			<button type = "submit" name = "login" class="btn" [disabled]="!loginFrom.valid" >Sign In</button>
		</div>
		<div>
		<p>Not Registered <a [routerLink] = "['/register']" >Sign Up</a></p>
		</div>
	</form>
</div>
</body>
