   .btn {
	   width:100px;
       padding: .5rem 1rem;
       color: white;
       background: #35CE87;
       border:1px solid transparent;
       border-radius: .25rem;
       font-family: Trebuchet MS, sans-serif;
       font-size: 1.08em;
   }
   
   
   .btn:hover{
       color: white !important;
       background: #00B058;
   }
   
   .text {
       padding:.7rem 1rem;
       display: block;
       margin-top: 1.25rem;
       width: 100%;
       border-radius: 5px;
       border:1px solid #e0e0e0;
       outline: none;
       color: #444;
       font-size: 1.2rem;
       line-height: 1.5rem;
       font-family: Trebuchet MS, sans-serif;
   }
   
   .showDrop {
       display: block;
       z-index: 9999;
   }
   
   .msg {
       width:100%;
       margin:5px auto;
       padding: 8px;
       border-radius: 5px;
       list-style: none; 
   }
   
   .showup {
       display: block;
   }
   
   .hidden {
	   display: none;
   }
   
   .success {
       color: #3a6e3a;
       background: #f5bcbc;
   }
   
   .error {
       color: #884b4b;
       background: #f5bcbc;
   }
   
   h1,h2,h3,h4{
       font-family:Trebuchet MS, sans-serif;
       color: #5C5C5C;
       margin: 5px;
   }
   
   a {
       text-decoration: none;
       color:inherit;
       outline:none;
   }
   
   header *{
       color: white;
   }
   
   header{
       height: 90px;
   }
   
   header #followUs{
       background:#1c5156;
       height: 25px;
       text-align: center;
   }
   
   .leftSpace{
       float: left;
       position: relative;
       height: inherit;
   }
   
   #followUs .iconSpace{
       float: left;
       position: absolute;
       left: 65%;
       right:5%;
       display: inline-block;
   }
   
   
   .iconSpace .icons-follow li{
       margin:3px 10px;
       font-family:Trebuchet MS, sans-serif;
       font-variant: small-caps;
       color: white;
   }
   
   .icons-follow li a{
       text-decoration: none;
       display: inline-block;
       padding: inherit;
       font-size: inherit;
   }
   .icons-follow li a:hover{
       background: none;
   }
   
   
   header .mainNav{
       background: #366c71 ;
       height: 45px;
   }
   
   header .logo{
       display: inline-block;
       float: left;
       height: inherit;
       margin-left: 1em;
   }
   header .logo img {
       height: 35px;
       width:35px;
       margin:5px 8px 5px;
       float: left;
   }
   header .logo-text{
       float: right;
       margin: 5px 2px;
       font-family:Trebuchet MS, sans-serif;
   }
   
   header ul{
       float: right;
       font-family: 'Verdana',sans-serif;
       font-size: medium;
       margin: 0px;
       padding: 0px;
       list-style: none;
   }
   
   header ul li{
       float: left;
       display: inline-block;
       position: relative;
   }
   
   header ul li ul{
       position: absolute;
       top:45px;
       right:0px;
       max-width: inherit;
       display: none;
       z-index: 9999;
   }
   
   header ul li:hover ul{
       display: block;
   }
   
   header ul.nav li a{
       display: block;
       height:92%;
       padding: 10px;
       font-size: 1.1em;
       text-decoration: none;
   }
   
   header ul.nav li a:hover{
       border: 3px solid white;
       border-style: none none solid none; 
   }
   
   header ul li ul li{
       width: 100%;
   }
   
   header ul li ul li a{
       padding: 10px;
       background: white;
       color: #444;
   }
   
   header ul li ul li a:hover{
       background: #d5d6d6;
   }
   
   header ul li ul li a.logout{
       color: red;
   }
   
   header #menu-toggle{
       display: none;
   }
   
   .recent-ads{
       background:lightgrey;
       width:100%;
       height: 20px;
   }



/*
POST SLIDER CSS
*/

.page-wrapper {
	min-height: 100%;
	margin: 10px  5px 10px;
}

.page-wrapper a:hover{
	color:#027682;
}

.post-slider{
	position: relative;
}

.post-slider .slider-title{
	font-size:x-large;
	font-weight: bold;
	font-variant: small-caps;
	margin-top:2%;
	margin-left: 7%;
	
}

.post-slider #prev{
	position: absolute;
	top:50%;
	left: 50px;
	font-size: 1.5em;
	color: #027682;
	cursor: pointer;
}

.post-slider #next{
	position: absolute;
	top:50%;
	right: 50px;
	font-size: 1.5em;
	color: #027682;
	cursor: pointer;
}

.post-slider .carousel{
	width:87%;
	height: 370px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 5px 5px;
	
}

.post-slider .carousel .slide {
	width:inherit;
	height:360px;
	margin: 10px 10px;
	display: inline-block;
	background: white;
	overflow: hidden;
	border-radius: 3px;
	outline: none !important;
}

.post-slider .carousel .slide > img {
	height: inherit;
	padding: 5px; 
	width: inherit;
	background-size: cover;
	overflow: hidden;
}

.post-slider .carousel .slide .post-info{
	position: absolute;
	width: inherit;
	height:100px;
	font-family:Trebuchet MS, sans-serif;
	padding:0px 5px;
	bottom: 0;
	background: white;
	padding: 5px;
	color:#000;  
	cursor: pointer;
}
.carousel .slide .post-info .slidingtab{
	pointer-events: auto;
}

.extendedView {
	height:150px;
	transition:height 0.25s ease-in;
}
.carousel .slide .post-info::after {
	  border-bottom: 20px solid white;
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	  width: 0;
	  height: 0;
	  content: "";
	  position: absolute;
	  bottom: 100%;
	  left: 1em;
}
.post-slider .carousel .slide .post-info .relatedinfo{
	 display: none;
	 height: 50px;
	 font-size: smaller;
	 position: relative;
}

.carousel .slide .post-info.slidingtab a{
	color:#000 ;
}
.carousel .slide .post-info.slidingtab a:hover{
	color: #027682;
} 
/* Horizontal Line */
.horzionline hr {
	width: 88%;
	color: #fff;
	margin-top:50px;
	margin-left:7% ;
}

/* CONTENT */

.content{
	width: 90%;
	margin: 10px auto 30px;
}
.content .main-content-wrapper {
	margin-top: 3%;
}
.content .main-content{
	width:70%;
	float: left;
}
.content .main-content.single {
	background: white;
	padding: 15px;
	border-radius: 5px;
	margin-right: 5px;
}

.content .main-content.single .post-title {
	width: auto;
	font-size:x-large;
	font-weight: normal;
	margin-bottom: 10px;
} 

.main-content.single .post-content .post_image {
    width: 95%;
    height: 400px;
}

.main-content.single .post-info > div {
	display: inline-block;
	margin:0% 2% 2% 1%;
}
.main-content.single .post-info > div > fa-icon , h5{
	display: inline-block;
	width: auto;
    margin: 2px;
}

.main-content.single .post-info > div > h5{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: small;
	font-weight: normal;
	margin:0.5em 1em;
}
.content .main-content.single .post-info h5{
	display: inline-block;
	margin:0px 5px 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: small;
	font-weight: normal;

}

.content .main-content .recent-post-title{
	font-size:x-large;
	font-weight: bold;
	font-variant: small-caps;
	text-align: left;
	margin: 20px;
}	

.content .main-content .post{
	width: 95%;
	height: 200px;
	margin: 20px auto 20px;
	border-radius: 5px;
	background: white;
	position: relative;
}
.main-content.single .post-content > .fetched {
	margin-top:5px;
}
.post-content > .fetched > p{
	width:95%;
	margin: 0px;
	padding: 1px 2px;
}
.content .related .post {
	border-top: 1px solid #e0e0e0;
	margin-top: 10px;
	padding-top: 10px;
}

.content .related .post img {
	height: 60px;
	width: 60px;
	float: left;
	margin-right: 10px;
}

.content .related .other-posts a h5 {
	text-align: center;
	font-size: small;
	font-variant: small-caps;
}
.content .related .other-posts a h5:hover {
	color: #0090bf;
}

.content .main-content .post .post-preview fa-icon {
	color: #757575;
	font-size: .8em;
}

.content .main-content .post .post-preview h2 {
	font-size: x-large;
	margin-left: unset; 
}

.content .main-content .post .preview-text{
	line-height: 1.35em;
	font-size: .9em;
	color: #444;
	word-wrap: break-word;
}

.content .main-content .post .read-more:hover {
	color: #027682 !important;
}
.content .main-content .post .post-image{
	width: 40%;
	height: 100%;
	float: left;
	padding: 5px;
	cursor: pointer;
	border-radius: 7px; 
}

.content .main-content .post .post-image:hover{
	webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.content .main-content .post .post-preview{
	width: 60%;
	padding:10px;
	float: right;
}

.main-content.categories .load-btn form .btn-loadmore {
	float: left;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    background-color:#264346;
    outline: none;

}

.content .sidebar{
	width:28%;
	float: left;
	height: inherit;
}

.content .sidebar.single{
	padding-left:10px;
}


.content .sidebar .section{
	background: white;
	padding:20px;
	border-radius: 5px;
	margin-bottom: 20px; 
}
.content .sidebar .section.facebook > div{
	width: 100%;
	overflow: hidden;
}
.content .sidebar .section form{
	width: inherit;
	height: 42px;
	border: 1px solid lightgrey;
	padding: 0px;
	margin: 10px 5px;
	position: relative;
}
.content .sidebar .section  form .text-input{
	width: 85%;
	height: 40px;
	position: absolute;
	top:0px;	
	margin: 0px;
	padding: 5px;
	font-size: medium;
	outline: none;
	border:none;
}
.content .sidebar .section form .submitbtn {
	width:15%;
	height:40px;
	margin: 0px;
	position: absolute;
    top: 0px;
    left: 85%;
    cursor: pointer;
    border:none;
    outline: none;
}
.sidebar form #rightIcon {
	position: absolute;
    left: 10%;
    right: 10%;
    height: 45px;
    top: 5%;
    font-size: 2.5em;
    cursor: pointer;
}
.content .sidebar .section.subscribe {
	margin-top: 68px;	
}
.content .sidebar .section .section-title{
	font-size: large;
	font-variant: small-caps;
	text-align: left;
}
.content .section.other-category {
	margin-top: 70px;
}
.content .sidebar .categorycard{
	height: 250px;
	width:100%;
	overflow: hidden;
	padding:3px;
	margin: 5px auto 5px;
}
.categorycard .cardimg img{
	height:200px;
	width: 100%;
	background-size: cover;
}

.content .sidebar .section.topics ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.content .sidebar .section.topics ul li a {
	padding: 15px 0px 15px;
	margin-left: 5px;
	display: block;
	transition: all .1s;
}

.content .sidebar .section.topics ul li a:hover{
	font-size: large;
	font-variant: small-caps;
}

/* Dashboard page Styles */
.gridfordash{
	display: grid;
	grid-template-columns: 21% 55% 22%;
	grid-column-gap: 10px;
	margin: 50px 15px 15px;
	padding: 0px;
}
.gridfordash a {
	color:#027682;
	font-size: 0.7em;
	margin:1px 2px 5px;
	padding: 0px;
}
.gridfordash .profiledash {
	height:inherit; 
	display: block;
}
.gridfordash .profiledash{
	position: relative;
}

.profiledash .profilehead {
	position: absolute;
	top:0;
	left:4%;
	right:1%;
}
.profiledash .profilehead h4 {
	text-align: center;
	font-size: large;
	font-variant: small-caps;
}
.gridfordash .profiledash .profilecard {
  width: 95%;
  margin: 50% auto 40%;
  background-color: #fff;
  padding: 0px 2px 10px; 
  border-radius: 2px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
}
.profilecard .picturediv {
  border-radius: 50px;
  overflow: hidden;
  height: 75px;
  width: 75px;
  position: relative;
  margin: auto;
  top: -60px;
  text-align: center;
  background-size: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
}
.profilecard .picturediv img {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: inherit;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.profiledash .profilecard .profiledetails{
    text-align: left;
    min-height: 350px;
}
.profilecard .profiledetails #detailsform div {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
	display: block;
	width: 98%;
	margin-bottom:15px;
}
.profilecard .profiledetails #detailsform label{
	font-size: .7em;
	width: inherit;
	margin: 2px 5px 2px;
	padding: 2px;
}
.profilecard .profiledetails #detailsform input{
	width: inherit;
	font-size: .9em;
	outline:none;
	margin: 2px 5px 2px;
	padding: 2px;
}
#detailsform div input.hideborder {
	border:none;
	box-sizing: border-box;
}
.showborder {
	border:1px solid grey;
	border-style: none none solid none;
}
.profiledetails #detailsform .editbtn {
	display: inline-block;
}
.profiledetails #detailsform .editbtn a{
	float:right
}
.profiledetails #detailsform .editbtn a.showAnchor {
	display: block;
}
.profiledetails #detailsform .editbtn a.hideAnchor {
	display: none;
}

.gridfordash .graphdash {
	height:inherit;
	position: relative;
	padding-left:20px;
	/*border:1px lightgrey;
	border-style: none none none solid;*/
}
.graphdash .graphhead {
	display: block;
}
.gridfordash .graphdash .graphhead h4{
	text-align: center;
	font-size: large;
	font-variant: small-caps;
}

#charts {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.25);
}
#charts:hover {
	cursor: pointer;
}

.gridfordash .actiondash {
	height:inherit;
	padding-left: 10px;
	/*
	border:1px lightgrey;
	border-style: none none none solid;*/
}
.gridfordash .actiondash .actionhead h4 {
	text-align: center;
	font-size: large;
	font-variant: small-caps;
}
.gridfordash .actiondash .actiondetails {
	margin-top:35px;
}
.gridfordash .actiondash .actioncard {
	width: 96%;
	min-height:75px;
	display: inline-block;
	margin: 5% auto 2.5%;
	background-color: #fff;
	padding: 2px; 
	border-radius: 2px;
	box-shadow: 1.5px 3px 3px rgba(0,0,0,0.25);
}
.actiondash .actioncard .cardimg img {
	float: left;
	width: 24%;
	height:70px;
	background-size: cover;
	margin:2px;
}
.actiondash .actioncard .cardtext{
	float: right;
	width:72%;
	margin-top:10px;
}
.actioncard .cardtext h5 {
	display: block;
	width:100%;
	word-wrap: break-word;
}
.actioncard .cardtext a {
	display: block;
	width:100%;
	padding-right: 5px;
	font-size: .9em;
}

/* PAGINATION INDEX*/


.content .pageContainer{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.pageContainer .pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor:pointer;
}

.pagination ul li{
  display: inline-block;
  margin:5px;
  color: #222;
}


/* ONE */

.p1 li{
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: inherit;
  font-size: 25px;
  text-align: center;
}

.is-active{
  background-color: #027682;
  border-radius: 100%;
  color:white !important;
}



/* AUTH PAGES */

.auth-content {
	width:30%;
	padding: 20px;
	margin: 50px auto;
	background: white;
	border-radius: 5px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auth-content .form-title {
	text-align: center;
}

.auth-content form {
	overflow: auto;
}

.auth-content form div {
	margin-bottom: 15px; 
}

.auth-content form div.error {
    font-size: small;
    background: white !important;
    color: red !important;
    margin: 0px;
    padding-left: 2px;
}

.auth-content form div > label  {
	font-size: small;
	margin:2px;
}
.auth-content form div > label , input, select, button {
	display: block;
	width:95%;
	height: auto;
	outline: none !important;
}

.auth-content form div .text-input {
	height: 40px;
	font-size: 1.1em;
	line-height: 1.2em;
	margin: 10px 2px 5px;
	padding: .5em .7em;
	border:1px solid lightgrey;
	border-radius: 3px;
	outline: none !important;
}

.auth-content form div .btn {
	margin-top: 2%; 
	float: left;
}

.auth-content form  div p {
	margin-top: 4%; 
	float: right;
}


.auth-content form div p a {
	text-decoration: underline;
}

/* FOOTER */

   
.footer {
	background:#264346;
	color: #d3d3d3;
	height:325px;
	position: relative;
}

.footer .footer-content {
	height: 90%;
	display: flex;
	overflow: auto;
}

.footer .logo-text {
	margin-left: 0px;
}

.footer .footer-content .footer-section {
	flex: 1;
	padding:20px;
}

.footer .footer-content h2 {
	color: white;
}

.footer .footer-content .about p {
	line-height: 1.4em;
	font-size: .9em;
}


.footer .footer-content .about .contact span {
	display: block;
	font-size: .9em;
	margin-bottom:4px; 
}

.footer .footer-content .about .socials a {
	border:1px solid gray;
	width:35px;
	height:35px;
	padding:7px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	transform: all 0.3s;
}

.footer .footer-content .about .socials a:hover{
	border: 1px solid white;
	color: white;
	transform: all 0.3s;
}

.footer .footer-content .links ul li a{
	width:max-content;
	display: block;
	text-decoration: none;
	margin-bottom: 5px;
	font-size: .9em;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.footer .footer-content .links ul li a:hover{
	color: white;
}

.footer .footer-content .contact-form .contact-input {
	background: #fff;
    color: #020202;
    margin: 8px;
    line-height: 1.5em;
    padding: .9rem .9rem;
    font-family: Trebuchet MS, sans-serif;
    font-size: .9em;
    border: none;
    outline: none;
    width: 90%;
    height:150px ;
    border-radius: 5px;
}	

.footer .footer-content .contact-form .contact-input:focus {
	background: #1a1a1a;	
}

.footer .footer-content .contact-form .btn-message {
	padding: .7rem 1.3rem;
	margin: 2%;
	font-size: .9rem;
	float: left;
}

.footer .footer-bottom {
	background: #343a40;
	color:white;
	height:10%;
	text-align: center;
	position: absolute;
	width:100%;
	bottom: 0px;
	padding-top: 10px;

}

/*
MEDIA QUERIES
*/

@media only screen and (max-width: 1024px){

	#followUs .iconSpace{
		left: 50%;
		right:5%;
		display: inline-block;
	}

	header .logo {
		margin-left: .5em;
	}

	header .logo img {
		margin:5px 2px;
	}
	header .logo-text{
		font-size:large;
		margin: 10px 2px;
	
	}
	header ul li a{
		display: block;
		height:100%;
		padding: 13px 6px;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}

	.post-slider #prev {
	    left: 35px;
	}
	.post-slider #next {
		right: 35px;
	}
	.content .main-content .recent-post-title{
		margin: 10px;
		font-size: 1.4rem;
	}
	.content .main-content .post{
		height: 200px;
		margin: 10px auto 10px;
		border-radius: 3px;
	}
	.content .main-content .post .post-preview h2{
		font-size: 1.3em;
		margin: 0px auto;
	}

	.content .main-content .post .preview-text{
		line-height: 1.3em;
		font-size: 0.75em;
	}

	.content .main-content .post .read-more{
		right: .4rem;
		bottom: .4rem;
		padding: .4rem .8rem;
	}
	.content .sidebar .section.subscribe {
	    margin-top: 45px;
	}
	.content .sidebar .section.other-category {
	    margin-top: 45px;
	}
	.content .sidebar .section.search{
		margin-top: 50px;
	}

	.auth-content {
		width:50%;
	}
}

@media only screen and (max-width: 770px){
	header {
		height:45px;
		position: relative;
	}

	header #followUs{
		height:0px;
	}
	.showing{
		max-height:100em;
		padding-top: 5px 
	}

	.responsiveLayout {
		margin-top:24em;
	}

	header ul{
		width: 100%;
		background: #3DA47A;
		max-height: 0px;
		overflow: hidden;
	}

	header ul li{
		width:100%;
	}

	header ul li ul{
		position: static;
		display: block;
		width: 100%;
	}

	header ul li ul li a{
		padding: 10px;
		background: #3DA47A;
		color: white;
		padding-left: 50px;
	}
	header ul li ul li a:hover {
		background: #35CE87;
	}


	header ul li ul li a.logout{
		color: red;
	}

	header #menu-toggle{
		position: absolute;
		display: block;
		right: 20px;
		top:10px;
		font-size: 1.5em;

	}

	header .logo{
		margin-left:.8em; 
	}
	header .logo-text{
		font-size: 1em;
	}


	/* Post Slider */
	.post-slider #prev {
		left: 2%;
	}

	.post-slider #next {
		right: 2%;
	}

	.post-slider .slider-title {
		margin-top:4%;
	}
	/* Content Queries */

	.content .main-content{
		width:100%;
		float: left;
	}

	.content .main-content.single{
		margin-top:20px;
	}
	.content .main-content .post {
		width:100%;
	}

	.content .main-content.single .post-content {
		padding: 5px 10px;
	}

	.content .sidebar{
		width:100%;
		float: left;
		height: inherit;
	}

	.content .sidebar.single {
		margin-top: 3%;
		padding-left: 0px;
	}
	.content .sidebar .section.other-category {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 15px;
	}
	.sidebar .section.other-category .section-title {
		grid-column: 1 / 3;
	}
	.sidebar .section.other-category .categorycard {
		padding: 2px;
		box-shadow: 0 2px 5px rgba(0,0,0,0.075);
	}
	.content .sidebar .section.search{
		margin-top: 30px;
	}

	.footer {
		height: auto;
	}

	.footer .footer-content {
		flex-direction: column;
		padding-bottom: 50px;

	}
	.footer .footer-bottom {
		max-height: 50px;
		font-size: .8em;

	}
	
}

@media only screen and (max-width: 600px) {

	.post-slider .slider-title {
		margin-top:6%;
	}

	.content .main-content .post{
		height: 100%;
		
	}

	.content .main-content .post .post-image{
		width: 100%;
		
	}

	.content .main-content .post .post-preview{
		width: 100%;
	}

	.content .main-content .post .read-more{
		position: static;
		width: 100%;
		display: block;
		text-align: center;
	}

	.content .sidebar .section.other-category {
		grid-template-columns: auto;
	}
	.sidebar .section.other-category .section-title {
		grid-column :1 / span 1;
	}
	.auth-content {
		width:60%;
		padding: 10px;
	}

	.auth-content form .form-title {
		font-size: 1.5em;
	}

	.auth-content form {
		font-size: .8em;
	}

	.auth-content form div .text-input {
		line-height: .8em;
	}

}