<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Content -->
	<div class="content clearfix">
		<!-- // <div class="content clearfix"></div> // -->

		<!-- Main Content -->
		<div class="main-content categories">
			<h1 class="recent-post-title category_name">OS Hacks</h1>
			<div *ngFor="let post of visiblePosts" class="post clearfix">
				<img class="post-image" src="{{post.imagesrc}}" alt="" />
				<div class="post-preview">
					<h2><a [routerLink]="['/single']" [state]="{ post_id: post.pid }">{{post.heading}}</a></h2>
					<fa-icon [icon]='faUserCircle' aria-hidden="true"></fa-icon> {{post.author}}
					&nbsp;
					<fa-icon [icon]='faCalender'></fa-icon> {{post.created_tm|date:'mediumDate'}}
					<p class="preview-text">{{post.relatedtxt}}
						<a [routerLink]="['/single']" class="read-more">read more</a></p>
				</div>
			</div>

			<div class="load-btn">
				<form id="load-articles" #nextArticlesForm="ngForm" (ngSubmit)="loadMoreActicle()">
					<button class="btn btn-loadmore" type="submit">
						<fa-icon [icon]='faAngleDoubleDown'></fa-icon>
					</button>
				</form>
			</div>

		</div>

		<!-- //Main Content -->
		<div class="sidebar">
			<div class="section other-category">
				<h2 class="section-title">Related Categories</h2>
				<div class="categorycard showing">
					<div class="cardimg">
						<img src="assets/images/pc_hacks.jpg" />
					</div>
					<div class="cardtext">
						<a [routerLink]="['/bloglist']" [state]="{category_name:'pchacks'}">
							<h5>Find PCs Hacking Blogs Here</h5>
						</a>
					</div>
				</div>

				<div class="categorycard showing">
					<div class="cardimg">
						<img src="assets/images/social_hacks.png" />
					</div>
					<div class="cardtext">
						<a [routerLink]="['/bloglist']" [state]="{category_name:'socialhacks'}">
							<h5>Find Social Media Hacking Blogs Here</h5>
						</a>
					</div>
				</div>

				<div class="categorycard showing">
					<div class="cardimg">
						<img src="assets/images/mobile_hacks.jpg" />
					</div>
					<div class="cardtext">
						<a [routerLink]="['/bloglist']" [state]="{category_name:'mobilehacks'}">
							<h5>Find Mobile Phones Hacking Blogs Here</h5>
						</a>
					</div>
				</div>

				<div class="categorycard showing">
					<div class="cardimg">
						<img src="assets/images/os_hacks.png" />
					</div>
					<div class="cardtext">
						<a [routerLink]="['/bloglist']" [state]="{category_name:'oshacks'}">
							<h5>Find Operating Systems Hacking Blogs Here</h5>
						</a>
					</div>
				</div>

			</div>


			<div class="section topics">
				<h2 class="section-title">Sorted Categories</h2>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Whatsapp</a></li>
					<li><a href="#">PC Security</a></li>
					<li><a href="#">Mobile App Hacks</a></li>
					<li><a href="#">Miscellaneous</a></li>
				</ul>
			</div>
		</div>

	</div>

	<!-- //Content -->
</div>